apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
  creationTimestamp: "2026-02-18T16:05:25Z"
  generation: 3
  name: main-nginx
  namespace: edu-evgenij-kondratev
  resourceVersion: "207692488"
  uid: 4dd7e900-f8f7-40b9-96e1-7434ccbf0455
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: main-nginx
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2026-02-18T20:11:53Z"
      creationTimestamp: null
      labels:
        app: main-nginx
    spec:
      automountServiceAccountToken: true
      containers:
      - image: nginx:1.16.1
        imagePullPolicy: IfNotPresent
        name: nginx
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/nginx/nginx.conf
          mountPropagation: None
          name: nginx-config
          readOnly: true
          subPath: nginx.conf
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      shareProcessNamespace: false
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          items:
          - key: nginx.conf
            path: nginx.conf
          name: main-nginx-config
          optional: false
        name: nginx-config
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2026-02-18T16:05:27Z"
    lastUpdateTime: "2026-02-18T16:05:27Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2026-02-18T16:05:25Z"
    lastUpdateTime: "2026-02-18T20:11:55Z"
    message: ReplicaSet "main-nginx-79899dcb49" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 3
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
