apiVersion: v1
kind: Service
metadata:
  finalizers:
    - ingress.ya.ru/final
  name: main-nginx
  namespace: edu-evgenij-kondratev
spec:
  externalTrafficPolicy: Cluster
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: main-nginx
  sessionAffinity: None
  type: NodePort
