apiVersion: v1
kind: Service
metadata:
  name: django
  labels:
    app.kubernetes.io/name: django
    app.kubernetes.io/component: web
    app.kubernetes.io/part-of: k8s-test-django
spec:
  type: NodePort
  selector:
    app: django
  ports:
    - name: http
      port: 80
      targetPort: 80
